.detail {
  header {
    height: 90px;
    background: #000;
  }
  main {
    padding: 0 24px;
    .detail_back {
      font-size: 15px;
      line-height: 25px;
      letter-spacing: normal;
      color: rgba(0, 0, 0, 0.5);
      background-color: transparent;
      font-weight: 500;
      border: none;
      margin: 16px 0 24px;
    }
    .de_features {
      margin-top: 88px;
      .features_title {
        font-size: 24px;
        font-weight: bold;
        line-height: 36px;
        text-transform: uppercase;
        letter-spacing: 0.86px;
      }
      .features_msg {
        margin-top: 24px;
        font-size: 15px;
        line-height: 25px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.5);
      }
    }
    .de_box {
      margin-top: 88px;
      .box_title {
        font-size: 24px;
        line-height: 36px;
        text-transform: uppercase;
        letter-spacing: 0.86px;
      }
      .box_contain {
        margin-top: 24px;
        li {
          font-size: 15px;
          line-height: 25px;
          color: rgba(0, 0, 0, 0.5);
          font-weight: 600;
          margin-top: 8px;
          span {
            color: @origy-bgc;
            margin-right: 21px;
          }
        }
      }
    }
    .de_img {
      margin-top: 88px;
      .img_nei {
        vertical-align: top;
        width: 100%;
        border-radius: 8px;
        margin-top: 20px;
      }
    }
    .may_like {
      margin-top: 120px;
      .like_title{
        font-size: 24px;
        font-weight: bold;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.86px;
        color: #000000;
        margin-bottom: 40px;
      }
      .like_list {
        .maylike {
          margin-bottom: 56px;
        }
      }
    }
  }
  footer {
    .store {
      margin-top: 120px;
    }
    .share {
      margin-top: 120px;
    }
  }
}

@media (min-width: 768px) {
  .detail {
    main {
      padding: 0 40px;
      .de_features {
        margin-top: 120px;
        .features_title {
          font-size: 32px;
        }
        .features_msg {
          margin-top: 32px;
        }
      }
      .de_box {
        margin-top: 120px;
        width: 549px;
        display: flex;
        justify-content: space-between;
        .box_title {
          font-size: 32px;
        }
        .box_contain {
          margin: 0;
          li {
            margin: 0 0 8px 0;
          }
        }
      }
      .de_img {
        display: grid;
        grid-template-columns: 7fr 9.8fr;
        width: 100%;
        max-width: 1000px;
        margin: 153px auto 0;
        // grid-template-rows: 1fr 2fr;
        gap: 20px;
        grid-template-areas:
          "left-top right"
          "left-bottom right";
        .img_nei {
          margin: 0;
        }
        .img_one {
          grid-area: left-top;
        }
        .img_two {
          grid-area: left-bottom;
        }
        .img_three {
          grid-area: right;
        }
      }
      .may_like {
        margin-top: 120px;
        .like_title {
          width: 100%;
          margin-bottom: 56px;
        }
        .like_list {
          max-width: 1000px;
          margin: 0 auto;
          display: flex;
          .maylike {
            margin: 0 11px 0 0;
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .detail {
    main {
      padding: 0 165px;
      .detail_back {
        margin: 79px 0 56px;
      }
      .desk--flex {
        display: flex;
        .de_features {
          width: 635px;
          margin-right: 125px;
        }
        .de_box {
          display: block;
          .box_title {
            margin-bottom: 32px;
          }
        }
      }
      .de_img {
        max-width: 100%;
      }
      .may_like {
        margin-top: 160px;
        .like_list {
          justify-content: space-between;
          max-width: 100%;
          margin: 0;
        }
      }
    }
  }
}