.headphones header {
  position: absolute;
  height: 192px;
  width: 100%;
  background-color: #000;
  top: 0;
  left: 0;
}
.headphones header .headphones_title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin: 122px auto;
}
.headphones main {
  padding: 166px 24px 0;
}
.headphones main .goodscard {
  margin-bottom: 120px;
}
.headphones footer .store {
  margin-top: 80px;
}
.headphones footer .share {
  margin-top: 120px;
}
@media (min-width: 1440px) {
  .headphones main .goodscard {
    width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 120px;
    margin-bottom: 160px;
  }
  .headphones main .goodscard:nth-child(2) {
    flex-direction: row-reverse;
  }
}
