.home {
  header {
    padding-top: 198px;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    z-index: 1;
    background: url('../assets/home/mobile/image-header.jpg') no-repeat center center/ cover;
    .product_intro {
      width: 328px;
      margin: 0 auto;
      .new_pro {
        font-size: 14px;
        text-align: center;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 10px;
        color: #FFFFFF;
        opacity: 0.4964;
      }
      .pro_name {
        font-size: 36px;
        font-weight: bold;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.29px;
        color: #FFFFFF;
        margin-top: 15px;
      }
      .pro_msg {
        font-size: 15px;
        font-weight: 200;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.75;
        padding: 0 30px;
        margin-top: 24px;
      }
      .see_pro1 {
        background: @origy-bgc;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #FFFFFF;
        width: 160px;
        height: 48px;
        margin: 28px 84px 0;
        border: none;
        cursor: pointer;
        &:hover {
          background: #FBAF85;
        }
      }
    }
  }
  .home_category {
    margin-top: 550px;
  }
  .home_see {
    margin: 0 25px;
    position: relative;
    margin-top: 76px;
    overflow: hidden;
    .pro_one {
      border-radius: 8px;
      background-color: @origy-bgc;
      height: 600px;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      .pattern_circles {
        position: absolute;
        width: 558px;
        height: 558px;
        top: -121px;
      }
      .see_img {
        margin: 55px 0 0;
        width: 169px;
        height: 202px;
        background: url('../assets/home/mobile/image-speaker-zx9.png') center center /cover;
      }
      .see_title {
        font-size: 36px;
        font-weight: bold;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.29px;
        color: #FFFFFF;
        text-align: center;
        margin-top: 32px;
      }
      .see_msg {
        font-size: 15px;
        font-weight: 200;
        line-height: 25px;
        text-align: center;
        color: @light-grey;
        width: 280px;
        margin-top: 24px;
      }
      .see_pro {
        position: absolute;
        z-index: 3;
        width: 160px;
        height: 48px;
        background-color: #000;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #FFFFFF;
        border: none;
        top: 0px;
        left: 0px;
        top: 497px;
        left: 50%;
        transform: translate(-50%);
        cursor: pointer;
        &:hover {
          background: #4C4C4C;
        }
      }
    }
    .pro_two {
      height: 320px;
      width: 100%;
      position: relative;
      margin-top: 24px;
      .see_img {
        width: 100%;
        height: 320px;
        border-radius: 8px;
        height: 320px;
        position: absolute;
        object-fit: cover;
        z-index: -1;
        background: url('../assets/home/mobile/image-speaker-zx7.jpg') no-repeat center center / cover;
      }
      .see_title {
        padding: 101px 0 0 24px;
      }
      .see_pro {
        width: 160px;
        height: 48px;
        font-size: 13px;
        font-weight: bold;
        line-height: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #000000;
        margin-top: 32px;
        background-color: transparent;
        border: 1px solid #000000;
        margin-left: 24px;
        cursor: pointer;
        &:hover {
          color: #fff;
          background-color: #000;
        }
      }
    }
    .pro_three {
      margin-top: 24px;
      width: 100%;
      .see_img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
        vertical-align: top;
        background: url('../assets/home/mobile/image-earphones-yx1.jpg') no-repeat center center/cover;
      }
      .pro_intro {
        height: 200px;
        width: 100%;
        border-radius: 8px;
        background-color: @light-grey;
        padding: 41px 24px 0;
        margin-top: 24px;
        .see_title {
          font-size: 28px;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
        .see_pro {
          width: 160px;
          height: 48px;
          margin-top: 32px;
          font-size: 13px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: #000000;
          background-color: transparent;
          border: 1px solid #000000;
          cursor: pointer;
          &:hover {
            color: #fff;
            background-color: #000;
          }
        }
      }
    }
  }
  .store {
    margin-top: 120px;
  }
  .share {
    margin-top: 120px;
  }
}

@media (min-width: 768px) {
  .home {
    header {
      height: 729px;
      background: url('../assets/home/tablet/image-header.jpg') no-repeat center center/ cover;
      .product_intro {
        .pro_name {
          font-size: 56px;
          width: 396px;
          line-height: 58px;
          letter-spacing: 2px;
          margin-top: 23px;
        }
        .pro_msg {
          width: 349px;
          padding: 0;
        }
      }
    }
    .home_category {
      margin-top: 735px;
    }
    .home_see {
      margin: 96px 40px 0;
      .pro_one {
        height: 720px;
        .pattern_circles {
          width: 944px;
          height: 944px;
          top: -288px;
        }
        .see_img {
          background: url('../assets/home/tablet/image-speaker-zx9.png') no-repeat center center/cover;
          width: 197px;
          height: 237px;
        }
        .see_title {
          margin-top: 64px;
          font-size: 56px;
          line-height: 58px;
          letter-spacing: 2px;
        }
        .see_msg {
          width: 340px;
        }
        .see_pro {
          top: 608px;
        }
      }
      .pro_two {
        margin-top: 32px;
        .see_img {
          background: url('../assets/home/tablet/image-speaker-zx7.jpg') no-repeat center center / cover;
        }
        .see_title {
          padding-left: 62px;
        }
        .see_pro {
          margin-left: 62px;
        }
      }
      .pro_three {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        .see_img {
          min-width: 339px;
          margin: 0;
          height: 320px;
          margin-right: 11px;
          background: url('../assets/home/tablet/image-earphones-yx1.jpg') no-repeat center center / cover;
        }
        .pro_intro {
          min-width: 339px;
          margin: 0;
          height: 320px;
          padding-top: 101px;
        }
      }
    }
    .store {
      margin-top: 96px;
    }
    .share {
      margin-top: 96px;
    }
  }
}

@media (min-width: 1440px) {
  .home {
    header {
      height: 729px;
      background: url('../assets/home/desktop/image-hero.jpg') no-repeat center top/ cover;
      padding: 225px 0 0 165px;
      .product_intro {
        margin: 0;
        .new_pro, .pro_msg, .pro_name {
          text-align: left;
        }
        .see_pro1 {
          margin: 40px 0 0 0;
        }
      }
    }
    .home_category {
      margin-top: 752px;
    }
    .home_see {
      margin: 168px 165px 0;
      .pro_one {
        position: relative;
        height: 560px;
        overflow: hidden;
        align-items: flex-start;
        .see_img {
          width: 410px;
          height: 493px;
          background: url('../assets/home/desktop/image-speaker-zx9.png') no-repeat;
          background-size: contain;
          position: absolute;
          top: 82px;
          left: 117px;
          margin: 0;
        }
        .pattern_circles {
          top: -36px;
          left: -149px;
        }
        .see_title {
          margin: 133px 0 0 666px;
          text-align: left;
        }
        .see_msg {
          margin: 24px 0 0 666px;
          text-align: left;
        }
        .see_pro {
          top: 388px;
          left: 746px;
        }
      }
      .pro_two {
        margin-top: 48px;
        .see_img {
          background: url('../assets/home/desktop/image-speaker-zx7.jpg') no-repeat center center / cover;
        }
        .see_title {
          padding-left: 95px;
        }
        .see_pro {
          margin-left: 95px;
        }
      }
      .pro_three {
        margin-top: 48px;
        .see_img {
          margin-right: 30px;
          background: url('../assets/home/desktop/image-earphones-yx1.jpg') no-repeat center center / cover;
        }
        .pro_intro {
          padding-left: 95px;
        }
      }
    }
    .store {
      margin-top: 200px;
    }
  }
}
