.index_nav .nav {
  display: flex;
  height: 90px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  position: relative;
  z-index: 10;
}
.index_nav .nav .mobile_nav {
  width: 16px;
  height: 15px;
  font-size: 0;
  background: url('../assets/shared/mobile/image-hamberger.svg') no-repeat;
  border: none;
  background-color: transparent;
}
.index_nav .nav .logo {
  background: url('../assets/shared/desktop/logo.svg') no-repeat;
  font-size: 0;
  width: 143px;
  height: 25px;
}
.index_nav .nav .nav_cart {
  background: url('../assets/shared/desktop/icon-cart.svg') no-repeat;
  width: 23px;
  height: 20px;
  font-size: 0;
  border: none;
}
.index_nav .popup_backdrop {
  position: fixed;
  top: 89px;
  left: 0;
  width: 100%;
  height: calc(100% - 89px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.index_nav .pupop_nav {
  position: absolute;
  top: 89px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  opacity: 0;
  font-size: 0;
  transition: all 0.5s ease;
  z-index: 3;
}
.index_nav .pupop_nav.active {
  font-size: 18px;
  height: 750px;
  opacity: 1;
}
